{% block content %} 
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>Nombre</th>
		<th>Ruc</th>
                <th>Direccion</th>
                <th>Ciudad</th> 
		<th>Telefono</th>
                <th>Email</th>
                <th>Acciones</th> 
            </tr>
	</thead>
	<tbody>
            {% for banco in bancos %}
            <tr>
                <td>{{ banco.nombre }}</td>
                <td>{{ banco.ruc }}</td>
                <td>{{ banco.direccion}}</td>
                <td>{{ banco.ciudad }}</td> 
                <td>{{ banco.telefono }}</td> 
                <td>{{ banco.email }}</td> 
                <td class="center">
                    <a href="{{	path('banco_editar',{'id':banco.id})}}"><span class="icon gray tooltip-left" title="Editar" data-icon="7"></span></a> 
                    <a style="padding-left:20px;"class="borrar" href="{{path('banco_borrar',{'id':banco.id})}}"><span class="icon gray tooltip-right" title="Borrar" data-icon="T"></span></a>
                </td>
            </tr>
            {% endfor %}		
	</tbody>	
    </table>
    </div>        
{% endblock content %}

{% block javascripts %}   
    <script type="text/javascript" charset="utf-8">          
        $(document).ready( function () {               
            {# Se establece el formato de la tabla #} 
            var oTable = $('#listado').dataTable( {
		"sDom": 'R<"H"lfr>t<"F"ip>',
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",               
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }  
            } );
            
            {# Muestra un anuncio de borrado #}
            $("a.borrar").click(function(evento){
                alert("Banco Borrado");                
            });
	});
    </script>  
{% endblock javascripts %}

