{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block stylesheets %}  
    {{parent()}} 
    <link href="{{ asset('css/abm_ctabancaria.css') }}" type="text/css" rel="stylesheet" /> 
    <link href="{{ asset('validationEngine/css/validationEngine.jquery.css') }}" type="text/css" rel="stylesheet" /> 
    
{% endblock %}
    
{% block content %} 
     <h3 class="content_title">Cuentas Bancarias</h3>
     
     <fieldset>
    <legend>Editar</legend>
    <form id="formID" action="{{path('ctabancaria_editar',{'id':cuentaBancaria.nCuenta})}}" method="post" {{ form_enctype(edit_form) }} class="inline_form">
            {{ form_errors(edit_form) }}   

            {{ form_row(edit_form.nCuenta, {'label': 'N° de Cuenta' }) }} 
            {{ form_row(edit_form.banco)}}
            {{ form_row(edit_form.fApertura, {'label': 'Fecha de Apertura' }) }} 
            {{ form_row(edit_form.mActual, {'label': 'Monto Actual' }) }} 
            {{ form_row(edit_form.moneda)}}
            {{ form_row(edit_form.fCancelacion, {'label': 'Fecha de Cancelacion' }) }} 

            {{ form_rest(edit_form) }}         
            <div>
                <button  type="submit" class="medium blue pill">Guardar</button>        
                <a href="{{ path('ctabancaria_insertar') }}">
                    <span class="icon large red tooltip" title="Cancelar" style="padding:5px 0px 0px 10px;" data-icon="X"></span>
                </a>
            </div>
        </form>
    </fieldset>
    {# Se renderiza el listado llamando al controlador #}   
    {% render "CajaBancoBackendBundle:CuentaBancaria:listar" %}
   
{% endblock content%}
    
{% block javascripts %}
    {{parent()}} 
    <script src="{{ asset('validationEngine/js/jquery.validationEngine.js') }}"></script> 
    <script src="{{ asset('validationEngine/js/languages/jquery.validationEngine-es.js') }}"></script> 
    <script>    
        jQuery(document).ready(function(){
            $("#ctabancaria_form_nCuenta").addClass("validate[required,custom[onlyNumberSp]]");
            $("#ctabancaria_form_fApertura").addClass("validate[required]");
            $("#ctabancaria_form_mActual").addClass("validate[required],custom[onlyNumberSp]");
            $("#ctabancaria_form_fCancelacion").addClass("validate[required]");    
            // binds form submission and fields to the validation engine
            jQuery("#formID").validationEngine('attach');
	});
    </script>  
{% endblock javascripts %}