{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block content %} 
    <h3 class="content_title left">Cuentas Bancarias</h3>
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>N° de Cuenta</th>
		<th>Banco</th>
                <th>Fecha de Apertura</th>
                <th>Monto Actual</th> 
		<th>Moneda</th>
                <th>Fecha de Cancelacion</th>                                                     
            </tr>
	</thead>
	<tbody>
            {% for cuentaBancaria in cuentasBancarias %}
            <tr>
               <td>{{ cuentaBancaria.nCuenta }}</td>
                <td>{{ cuentaBancaria.banco }}</td>
                <td>{{ cuentaBancaria.fApertura|date("d/m/Y") }}</td>
                <td>{{ cuentaBancaria.mActual }}</td> 
                <td>{{ cuentaBancaria.moneda }}</td> 
                <td>{{ cuentaBancaria.fCancelacion|date("d/m/Y")  }}</td>                
            </tr>
            {% endfor %}		
	</tbody>
    </table>
    </div>        
{% endblock content %}

{% block javascripts %} 
     {{parent()}} 
    <script type="text/javascript" charset="utf-8">          
        $(document).ready( function () {               
            {# Se establece el formato de la tabla #} 
            var oTable = $('#listado').dataTable( {		
                "sDom": 'R<"H"lfr>t<"F"ip>',
		"bJQueryUI": true,
		"sPaginationType": "full_numbers", 
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }               
            } ); 
	});
    </script>  
{% endblock javascripts %}