{% extends 'CajaBancoBackendBundle::base.html.twig' %}

{% block content %} 
    <h3 class="content_title left">Cajas</h3>
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>N° de Caja</th>
		<th>Denominacion</th>
                <th>Fecha de Creacion</th>
		<th>Esta Abierto?</th>                                      
            </tr>
	</thead>
	<tbody>
            {% for caja in cajas %}
            <tr>
                <td>{{ caja.nCaja }}</td>
                <td>{{ caja.denominacion }}</td>
                <td>{{ caja.fCreacion|	date("d/m/Y")}}</td>
                <td>{{ caja.abierto }}</td>                
            </tr>
            {% endfor %}		
	</tbody>
    </table>
    </div>        
{% endblock content %}

{% block javascripts %} 
     {{parent()}} 
    <script type="text/javascript" charset="utf-8">          
        $(document).ready( function () {               
            {# Se establece el formato de la tabla #} 
            var oTable = $('#listado').dataTable( {		
                "sDom": 'R<"H"lfr>t<"F"ip>',
		"bJQueryUI": true,
		"sPaginationType": "full_numbers", 
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }               
            } ); 
	});
    </script>  
{% endblock javascripts %}