{% block content %} 
    <div class="ex_highlight_row">
    <table class="display content_table" id="listado">
	<thead>
            <tr>
                <th>Descripcion</th>
		<th>Tipo de Movimiento</th>
                <th>Cuenta</th>
		<th>Contracuenta</th>
                <th>Acciones</th>                        
            </tr>
	</thead>
	<tbody>
            {% for conceptoCaja in conceptosCaja %}
            <tr>
                <td>{{ conceptoCaja.descripcion }}</td>
                <td>{{ conceptoCaja.tipoMovimiento }}</td>
                <td>{{ conceptoCaja.cuenta }}</td>
                <td>{{ conceptoCaja.contracuenta }}</td>
                <td class="center">
                    <a href="{{	path('conceptoCaja_editar',{'id':conceptoCaja.id})}}"><span class="icon gray tooltip-left" title="Editar" data-icon="7"></span></a> 
                    <a style="padding-left:20px;"class="borrar" href="{{path('conceptoCaja_borrar',{'id':conceptoCaja.id})}}"><span class="icon gray tooltip-right" title="Borrar" data-icon="T"></span></a>
                </td>
            </tr>
            {% endfor %}		
	</tbody>	
    </table>
    </div>        
{% endblock content %}

{% block javascripts %}   
    <script type="text/javascript" charset="utf-8">          
        $(document).ready( function () {               
            {# Se establece el formato de la tabla #} 
            var oTable = $('#listado').dataTable( {
		"sDom": 'R<"H"lfr>t<"F"ip>',
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",               
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "oLanguage": { "sUrl": "{{ asset('JTable/Lenguajes/spanish.txt') }}" }  
            } );
            
            {# Muestra un anuncio de borrado #}
            $("a.borrar").click(function(evento){
                alert("Concepto de Caja Borrado");                
            });
	});
    </script>  
{% endblock javascripts %}

